extends layout

block content
	h1 Create a quiz
	-if (typeof(error) !== 'undefined' && error)
		p(style="color: red") Error! Quiz name can't be empty!
	form(action='/submitQuiz',method='post')
		p Quiz name: 
		input(type="text", name="name")
		p Quiz description:
		textarea(name="desc" rows="20" cols="40")
		p
		input(type="submit", value="submit")