extends layout

block content
	h1 Create quiz
	p Name: 
		= name
	p Desc: 
		= desc
	p(hidden type="text", name="quizId") =quizId
	div
		| Questions:
				
		- each question, qi in questions
			div
				=question.number+1
				| &#41; 
				=question.text 
				|  (use checkboxes is #{question.useCheckboxes})
				
				- each answer, ai in question.answers
					p
					- var checked = typeof question.correctAnswers[ai] !== 'undefined' && question.correctAnswers[ai] == true
					if checked
						| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
						span(style="font-weight:bold")
							=ai+1
							| ) 
							=answer
					else
						| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
						=ai+1
						| ) 
						=answer